/**** Estilo de los colores de la página ****/

#intro {
    background-color: #B3A484;
}

.letrasMapa b, input, table th, h2, #sidebar nav a, h3, h4 {
    color: black;
}

#footer {
    background-color: #D3C9B3;
}

#one, #three {
    background: linear-gradient(to bottom, #B3A484, #D3C9B3);
}

#two {
    background: linear-gradient(to bottom, #D3C9B3, #B3A484);
}

.legend {
    background-color: white;
}

tr:hover {
    text-decoration: underline black;
}

.boton {
    color: black !important;
    border-color: black !important;
}

.cambiarGrafico:hover {
    border-color: #777777 !important;
    color: #777777 !important;
}

#tabla tr{
    background-color: inherit !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .dataTables_info {
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    color: #777777 !important;
    border: 1px solid transparent;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white;
    border: 1px solid white;
    background: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid black;
    background: #ff000000;
    color: black !important;
}

.estiloMail:hover, .numTelefono:hover {
    color: white !important;
}

.filtroMarcas {
    background-color: #B3A484;
}

/**** Estilo de los contenedores y el resto de etiquetas del documento HTML ****/

/* Damos la anchura necesaria a los contenedores seleccionados */
#map, #contenedor-mapa, #tabla, .logoWeb, .legend, .divTabla, .loading, .dataTables_scrollHeadInner, .dataTable {
    width: 100% !important;
}

/* Damos la altura necesaria a los contenedores seleccionados */

#intro {
    height: 0px;
}

#map {
    height: 95%;
}

#contenedor-mapa, .logoWeb {
    height: 100%;
}

/* Hacemos que la tabla ocupe todo el ancho del contenedor en el cual pertenece */

select[name=tabla_length] {
    width: auto;
    display: inline;
}

/* Estilo de la leyenda del mapa */
.leyenda img {
    width: 11%;
    height: 11px;
    margin: 0 5%;
}

/* Estilo del gif de carga */
.loading img {
    display: block;
    margin: auto;
    width: 75%;
}

/* Estilo de los contenedores del mapa y de la parte de contacto */
#contenedor-mapa {
    margin: 0;
    padding: 0;
}

.contactoPart1 {
    padding-right: 5%;
    border-right: 2px solid #FFFAF0;
}

.contactoPart2 {
    margin-left: 5%;
}

.comoLlegar, tr {
    cursor: pointer;
}

.rotulo {
    font-size: 1.40em;
    margin-bottom: -7%;
}

.legend {
    border: 1px solid;
    border-style: dashed;
}

.apartadoContacto {
    display: flex;
    text-align: justify;
}

.tituloLeyenda {
    text-align: center;
}

.gasolina95, .gasolina98, .diesel, .dieselPlus, .horario {
    font-weight: bold;
}

/* Estilo de la lista de gasolineras para hacer el filtro del mapa */

.filtroMarcas {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.filtroMarcas li {
    margin: auto;
}

.barraFiltrado > li {
    text-decoration: none;
    display: inline-block;
}


/* Ocultamos el canvas por defecto */
#canvas {
    display: none;
}


/* Estilo de la tabla y de los graficos */
.titulo, .tituloTabla{
    float: left;
}

.boton {
    float: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-radius: 20px;
}

/* Estilo del apartado de contacto */
.etiquetaInfo {
    font-weight: bold;
}

/**** Estilo para los diferentes tamaños de pantallas (Tablet y móvil) ****/

@media screen and (max-width: 1280px) {
    .logoWeb {
        width: unset; 
    }
}

@media screen and (max-width: 575px) {
    .apartadoContacto {
        display: block;
        text-align: justify;
    }
    
    .contactoPart1 {
        padding-bottom: 0;
        border-bottom: 2px solid #FFFAF0;
        border-right: 0;
    }
    
    .contactoPart2 {
        padding-top: 5%;
        margin-left: 0;
    }
}